 body {
    background: #FFFFFF;
}

.texto {
    font-size: 30px;
    background-color: darkmagenta;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    padding: 6px 0 6px 0;
}

#articulos {
    font-size: 30px;
    color: darkmagenta;
}

#Total {
    font-size: 30px;
}