p {
    color:burlywood;
    font-size: 20px;
}

div {
    margin-bottom: 10px;
    border-bottom: 1px solid chocolate;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 4rem;
    margin-right: 4rem;
}